* {margin: 0;padding: 0;}
.box {
    background-color: salmon;
    h2 {
        color: #fff;
        text-align: center;
    }
    div {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        a {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100px;
            height: 100px;
            border: 1px solid;
            text-decoration: none;
            color: inherit;
            margin-right:20px;
            font-size: 72px;
            font-weight: bold;
            &:last-child {margin-right: 0;}
        }
    }
}